ninja>=1.13.0,<2
scikit-build-core==0.10.7
build==1.2.1
pyproject-metadata
pathspec
setuptools_scm==8.1.0
numpy>=1.26   #1.26 is needed to support python3.9
packaging~=25.0 # Needed to test PEP440 compliance of versions
