[workspace]
authors = [
  "Insight Software Consortium <>",
  "Matt McCormick <matt@fideus.io>",
  "Jean-Christophe Fillion-Robin <jchris.fillionr@kitware.com>",
  "Tom Birdsong <tom.birdsong@kitware.com>",
  "Hans J. Johnson <hans-johnson@uiowa.edu>",
  "Dženan Zukić <dzenan.zukic@kitware.com>",
  "Simon Rit <simon.rit@creatis.insa-lyon.fr>",
  "Francois Budin <francois.budin@kitware.com>",
  "LucasGandel <lucas.gandel@gmail.com>",
  "Davis Marc Vigneault <davis.vigneault@gmail.com>",
  "Jon Haitz Legarreta Gorroño <jon.haitz.legarreta@gmail.com>",
  "Lee Newberg <lee.newberg@kitware.com>"
]

name = "ITKPythonPackage"
version = "0.1.0"
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64", "win-64"]

########################################
# Common features used by all envs
########################################

# Build tooling shared by all platforms
[feature.build-dev-tools.dependencies]
cmake = ">=3.30,<4"
doxygen = ">=1.13.2,<2"
ninja = ">=1.13.2,<2"
pkginfo = ">=1.12.1.2,<2"
# Python driving the build (not the package runtime Python)
python = ">=3.13,<3.14"

# Python packaging/build support shared by all platforms
[feature.python-dev-pkgs.dependencies]
numpy = ">=1.26"
packaging = ">=25.0,<26"
pathspec = "*"
pyproject-metadata = "*"
scikit-build-core = ">=0.11.6,<0.12.0"
setuptools_scm = ">=9.2.0"
setuptools= ">=61"
tomli="*"


########################################
# Manylinux-specific feature
########################################

[feature.manylinux228-build]
platforms = ["linux-64"]
# Not supported by manylinux228 platforms = ["linux-aarch64"]

[feature.manylinux228-build.dependencies]
auditwheel = "*"
patchelf = "*"

# tighten manylinux228 ABI (if you care)
[feature.manylinux228-build.system-requirements]
linux = "5.4"
libc = { family = "glibc", version = "2.28" }

########################################
# macOS-specific feature
########################################

[feature.macos-build]
platforms = ["osx-64", "osx-arm64"]

# delocate is a Python tool; cxx-compiler is the macOS toolchain meta-package
[feature.macos-build.pypi-dependencies]
delocate = "*"

[feature.macos-build.dependencies]
cxx-compiler = "==1.10.0"
c-compiler = "==1.10.0"

[feature.windows-build]
platforms = ["win-64"]

[feature.windows-build.pypi-dependencies]
# windows = "*"

[feature.windows-build.dependencies]
# cxx-compiler = "==1.10.0"
# c-compiler = "==1.10.0"


########################################
# Environments: compose features per target
########################################

[environments]
# Linux build env (non-manylinux228)
linux = [
  "build-dev-tools",
  "python-dev-pkgs",
]

# Manylinux wheel-build env (docker manylinux228 images, CI, etc.)
manylinux228 = [
  "build-dev-tools",
  "python-dev-pkgs",
  "manylinux228-build",
]

# macOS build env (both Intel and Apple Silicon)
macos = [
  "build-dev-tools",
  "python-dev-pkgs",
  "macos-build",
]

# Windows build env
windows = [
  "build-dev-tools",
  "python-dev-pkgs",
  "windows-build"
]
